.card-one-container {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #0b0c10;
  justify-content: flex-start;
}

.card-img-left {
  height: 500px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-left > img {
  width: 100%;
  height: 70%;
  border-top: 1px solid #66fcf1;
  border-bottom: 1px solid #66fcf1;
  border-left: 1px solid #66fcf1;
}

.card-img-left > img:hover {
  filter: none;
}

.card-content-left {
  display: flex;
  flex-direction: column;
  color: #c5c6c7;
  justify-content: space-evenly;
}

.project-title-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.project-title-left > h2 {
  color: #66fcf1;
}

.project-title-left > p {
  font-size: 10px;
}

.project-desciption-left {
  /* border: 2px solid red; */
  margin-right: 20px;
}

.project-card-links-left > a {
  text-decoration: none;
}

.project-card-links-left {
  display: flex;
  width: 100%;
  font-size: 20px;
  /* border: 2px solid red; */
  justify-content: space-around;
  align-items: center;
}

.project-card-links-left .devicon-github-plain {
  margin: 0;
  color: #e9e9e9;
  font-size: 25px;
}

.project-card-links-left .devicon-github-plain:hover {
  color: #66fcf1;
  transition: 0.3s ease-out;
}

.web-icon-left {
  color: #e9e9e9;
}

.web-icon-left:hover {
  color: #66fcf1;
  transition: 0.3s ease-out;
}
