.card-container {
  height: 500px;
  width: 900px;
  margin: 40px;
  /* border: 2px solid red; */
  box-shadow: 19px 18px 37px -13px rgba(0,0,0,0.75);
  display: flex;
  justify-content: flex-end;
}

.card-img {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.card-img > img {
  width: 100%;
  height: 70%;

}

.card-container:hover > .card-img {
  opacity: 1;
}


.card-content {
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: space-evenly;
}

.project-title {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;

}

.project-title > h2 {
  color: #ca6d65;
}

.project-title > p {
  font-size: 10px;
}

.project-desciption {
  /* border: 2px solid red; */
  margin-left: 20px;
}

.project-card-links {

}

.project-card-links > a {
  text-decoration: none;
}

.project-card-links {
  display: flex;
  width: 100%;
  font-size: 20px;
  /* border: 2px solid red; */

  justify-content: space-around;
  align-items: center;
}

.project-card-links .devicon-github-plain {
  margin: 0;
  color: #e9e9e9;
  font-size: 25px;
}

.project-card-links .devicon-github-plain:hover {
  color: #ca6d65;
  transition: 0.3s ease-out;
}

.web-icon {
  color: #e9e9e9;;
}

.web-icon:hover {
  color: #ca6d65;
  transition: 0.3s ease-out;
}
