.about-container {
    background-color: #242424;

    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .about-summary {
    color: #fff;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;



  }

  .about-summary-heading {
    color: #fff;
    font-size: 50px;
    text-align: center;
  }

  .about-summary-text {
    font-size: 25px;
    width: 50%;
    text-align: center;

  }

  .about-summary-text > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;

  }

  .about-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }


  .about-link-wrapper {
    display: flex;
    width: 100vw;
    height: 100%;
    margin: 0 0 10px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 50px;
  }

  @media screen and (max-width: 820px) {

    .about-link-wrapper {
      display: flex;
      flex-wrap: wrap;

    }

  }

  .about-link-items {
    display: flex;
    font-size: 75px;
    flex-direction: row;
    margin: 16px 0 16px 0 !important;
    justify-content: center;
    align-items: center;
  }

  .dev {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: center;
  }

  .about-container h2 {
    margin-bottom: 16px;
  }

  .about-container > h2 {
    color: #fff;
  }

  .about-link-items:hover {
    color: black;
    transition: 0.3s ease-out;
  }
