.project-container {
    padding-top: calc(4rem + 80px);
    background-color: #0b0c10;
  }

  h1 {
    text-align: center;
    color: #66FCF1;
  }

  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto;
  }

  .card-one-container {
    width: 100vw;
    margin-left: 20px;
    justify-content: center;

  }

  .card-two-container {
    width: 100vw;
    justify-content: center;

  }
